h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px
   }

   table {
    margin-top: 5px !important;
   }

   .form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    }
    .form-page h1 {
    margin-bottom: 20px;
    }
    .form-page form {
    background: #3475d8;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    .form-page .form-control {
    border-radius: 8px;
    }

    .btn-usuarios {
    width: 100%;
    background-color: #28a745;
    border-color: #28a745;
    color: whitesmoke;
    font-weight: bold;
    }
    .btn-usuarios:hover {
    background-color: #28a745;
    border-color: red;
    }

    .btn-warning {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    }
    .btn-danger {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: bold;
    }

    .table.table-bordered .encabezado-tabla td {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgba(255, 251, 0, 0.897);
    }